h1 {
    font-size: 1.8em;
    font-weight: bolder;
    color: #F5324E;
}

h2 {
    font-size: 1.6em;
    font-weight: bolder;
    color: #F5324E;
}

h3, h4 {
    font-size: 1.3em;
    font-weight: bolder;
    color: #F5324E;
}

/* Style pour l'image dans l'en-tête */
.header-image {
    width: 100px;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Style pour l'image et le texte de l'auteur */
.author-info {
    display: flex;
    align-items: left;
    justify-content: left;
    margin-top: 20px;
}

.author-info img {
    margin-right: 20px;
    width: 100px;
    height: auto;
}

.author-info .author-text {
    font-size: 1.2em;
    color: #F5324E;
}